@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.nav {
    background-color: #3f3d56;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 76px;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    margin: 0 0.5rem  0 0;
    color: #999;
    font-size: 0.85rem;
}

.navbar a:hover {
    color: #fff;
}

.navbar img {
    width: 100%;
    max-width: 35px;
}

.container {
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
}

.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.hero a {
    text-decoration: none;
    color: #666;
}

.hero a:hover {
    opacity: 0.65;
}

.hero__left h2 {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: capitalize;
    border-bottom: 3px solid #6c63ff;
}

.hero__left p {
    font-size: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    color: #555;
}

.hero__cta a:last-child {
  padding: 0.5rem 1.5rem;
  background-color: #3f3d56;
  color: #fff;
  margin-left: 1.5rem;
  border-radius: 4px;
}

.hero__right img {
    width: 100%;
    max-width: 512px;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: auto;
        flex-direction: column-reverse;
    }

    .nav__links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .nav {
        padding:1rem;
    }

    .navbar img {
        display: none;
    }


    .hero {
        grid-template-columns: 1fr;
    }

    .hero__left h2 {
        font-size: 1.5rem;
        margin-top: 1.5rem;
    }
}